@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/*body*/
body { 
    font-family: "Poppins", sans-serif;
    background-color: #A4DFE0;
}

/*header*/
header {
    position: sticky;
    top: 0px;
    background-color: #AAFF72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header img {
    height: 100px;
    width: 100px;
    float: left;
}

.navbar {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px;
    /*text-align: right;*/
    background-color: #AAFF72;
    width: 100%;
}
.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

/*main section index*/
.carrusel-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.testimonios-adoptantes {
    text-align: center;
    background-color: #38A3A5;
    padding: 60px;
}

.testimonios-adoptantes h3 {
    font-size: 1.3rem;
    margin-left: 100px;
    margin-right: 100px;
}

.conoce-huellitas-grid { 
    background-color: #A4DFE0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "conoce-huellitas-txt conoce-huellitas-img";
    align-content: center;
    align-items: center;
}

.conoce-huellitas-txt { 
    color: black;
    text-align: center;
    padding: 20px;
    grid-area: "conoce-huellitas-txt";

}

.conoce-huellitas-txt p {
    font-size: 1.3rem;
    font-weight: 900;
}

.conoce-huellitas-img {
    grid-area: "conoce-huellitas-img";
}

.conoce-huellitas-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: middle;
}

.formas-ayudar-grid { 
    background-color: #A4DFE0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "formas-ayudar-txt formas-ayudar-img";
    align-content: center;
    align-items: center;
}

.formas-ayudar-txt { 
    color: black;
    text-align: center;
    padding: 20px;
    grid-area: "formas-ayudar-txt";
}

.formas-ayudar-txt p {
    font-size: 1.3rem;
    font-weight: 900;
}

.formas-ayudar-img {
    grid-area: "formas-ayudar-img";
}

.formas-ayudar-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: middle;
}

/*main section sobre-nosotros*/

.quienes-somos { 
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quienes-somos div {
    padding: 30px;
}

/* main contacto*/

.formulario {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 480px;
    flex-direction: column;
    padding: 100px;
}

/*main huellitas*/

.huellitas-adopcion { 
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-between;
}

.huellitas-adopcion div {
    border: 1px solid #38A3A5;
    height: 450px;
    background-color: #38A3A5;
}

.huellitas-adopcion h1 {
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.huellitas-adopcion div h3 {
    color: white;
    padding: 10px;
}

.huellitas-adopcion div a {
    text-decoration: none;
    border: 3px solid #A4DFE0;
    border-radius: 25px;
    padding: 5px;
}

.huellitas-adopcion div img {
    width: 250px;
    height: auto;
    padding: 15px;

}

/*footer*/

footer {
    font-size: 1.0rem;
    padding: 20px;
    margin-top: 0px;
    background-color: #AAFF72;
    text-align: center;
    
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li { 
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0px 15px;
} 

footer ul li a {
    font-size: 2rem;
}

footer ul li a:hover {
    color: grey;
}