@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/*body*/
body { 
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}

/*header*/
header {
    position: sticky;
    top: 0px;
    background-color: #AAFF72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header img {
    height: 80px;
    width: 80px;
    float: left;
}

.navbar {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px;
    background-color: #AAFF72;
    width: 100%;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

/*main section index*/
.carousel-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.testimonios-adoptantes {
    text-align: center;
    background-color: #A4DFE0;
    padding: 60px;
}

.testimonios-adoptantes h3 {
    font-size: 1.3rem;
    margin-left: 100px;
    margin-right: 100px;
}

.conoce-huellitas-grid { 
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "conoce-huellitas-txt conoce-huellitas-img";
    align-content: center;
    align-items: center;
}

.conoce-huellitas-grid a {
    text-decoration: none;
    border: 3px solid #38A3A5;
    border-radius: 25px;
    background-color: #38A3A5;
    padding: 5px;
}

.conoce-huellitas-grid a:hover{
        background-color: #A4DFE0;
}

.conoce-huellitas-txt { 
    color: black;
    text-align: center;
    padding: 20px;
    grid-area: "conoce-huellitas-txt";

}

.conoce-huellitas-txt p {
    font-size: 1.3rem;
    font-weight: 900;
}

.conoce-huellitas-img {
    grid-area: "conoce-huellitas-img";
}

.conoce-huellitas-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: middle;
}

.formas-ayudar-grid { 
    background-color: #A4DFE0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "formas-ayudar-txt formas-ayudar-img";
    align-content: center;
    align-items: center;
}

.formas-ayudar-grid a {
    text-decoration: none;
    border: 3px solid #38A3A5;
    border-radius: 25px;
    background-color: #38A3A5;
    padding: 5px;
}

.formas-ayudar-grid a:hover{
    background-color: #f8f8f8;
}

.formas-ayudar-txt { 
    color: black;
    text-align: center;
    padding: 20px;
    grid-area: formas-ayudar-txt;
}

.formas-ayudar-txt p {
    font-size: 1.3rem;
    font-weight: 900;
}

.formas-ayudar-img {
    grid-area: formas-ayudar-img;
}

.formas-ayudar-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: middle;
}

/*main section sobre-nosotros*/

.sobre-nosotros-h1 {
    text-align: center;
    padding: 30px;
    font-weight: 600;
}

.quienes-somos-grid { 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "quienes-somos-txt sobre-nosotros-img"
    "donde-somos-txt sobre-nosotros-img"
    "como-trabajamos-txt sobre-nosotros-img";
    align-items: center;
}

.quienes-somos-grid div {
    padding: 30px;
}

.quienes-somos-txt {
    grid-area: quienes-somos-txt;
}

.donde-somos-txt {
    grid-area: donde-somos-txt;
}
.como-trabajamos-txt {
    grid-area: como-trabajamos-txt;
}

.sobre-nosotros-img {
    grid-area: sobre-nosotros-img;
    align-items: flex-end;
}

.sobre-nosotros-img img {
    width: auto;
    height: 850px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*main huellitas*/

.huellitas-adopcion { 
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.huellitas-adopcion-h1 {
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-weight: 600;
}

.card {
    margin: 0px 15px 30px 15px;
}

.card-title{
    font-weight: 600;
}

.huellitas-adopcion div a {
    text-decoration: none;
    border: 3px solid #38A3A5;
    border-radius: 25px;
    background-color: #38A3A5;
    padding: 5px;
}

.huellitas-adopcion div a:hover{
    background-color: #A4DFE0;
}

/*Forma parte*/

.forma-parte-h1{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    padding: 15px;
}
.forma-parte-grid { 
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
}

.forma-parte-info {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.forma-parte-donaciones {
    padding: 30px;
    border: 3px solid #A4DFE0;
    border-radius: 30px;
    background-color: #A4DFE0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.forma-parte-donaciones a {
    text-decoration: none;
    border: 3px solid #38A3A5;
    border-radius: 25px;
    background-color: #38A3A5;
    padding: 5px;
}
.forma-parte-donaciones a:hover{
    background-color: #f8f8f8;
}

/*contacto*/

.formulario-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "formulario-txt formulario";
    padding: 40px;
    margin-top: 3rem;
}

.formulario-txt {
    text-align: center;
    grid-area: formulario-txt;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.formulario-txt h2{
    font-weight: 500;
}

.formulario-txt h3{
    font-weight: 200;
    margin-top: 10px;
    padding: 20px;
}

.formulario{
    border: 3px solid #A4DFE0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 30px;
    background: #A4DFE0;
    grid-area: formulario;
}

.formulario input{
    border: 1px solid #38A3A5;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5rem;
    width: 100%;
}

.formulario select{
    border: 1px solid #38A3A5;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5rem;
    width: 100%;
}

.formulario textarea {
    border: 1px solid #38A3A5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5rem;
    resize: none;
    width: 100%;
}

.boton-enviar {
    display: flex;
    flex-direction: row-reverse;
}

.boton-enviar button {
    border: 3px solid #38A3A5;
    border-radius: 25px;
    background-color: #38A3A5;
}

.boton-enviar button:hover{
    background-color: #f8f8f8;
}

/*footer*/

footer {
    font-size: 1.0rem;
    padding: 20px;
    margin-top: 0px;
    background-color: #AAFF72;
    text-align: center;
    
}

footer a {
    text-decoration: none;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li { 
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0px 15px;
} 

footer ul li a {
    font-size: 2rem;
}

footer ul li a:hover {
    color: grey;
}

footer p{
    margin-bottom: 0px;
}

/*------------------MEDIA QUERIES------------------*/
@media screen and (max-width:1310px) {
    
    /*sobre-nosotros*/
    .sobre-nosotros-h1 {
        font-size: 2rem;
    }

    .quienes-somos-grid h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1130px) {
    /*sobre-nosotros*/
    .quienes-somos-grid div {
        padding: 20px;
    }

    .quienes-somos-grid p {
        font-size: 0.9rem;
    }

    /*forma-parte*/
    .forma-parte-h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:900px) {
    /*sobre-nosotros*/
    .quienes-somos-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "quienes-somos-txt"
        "donde-somos-txt"
        "como-trabajamos-txt";
    }

    .quienes-somos-grid img {
    display: none;
    }

    /*forma-parte*/
    .forma-parte-grid h2 {
        font-size: 1.5rem;
    }

    .forma-parte-grid h3 {
        font-size: 1.3rem;
    }

    .forma-parte-grid p {
        font-size: 0.9rem;
    }

    /*contacto*/
    .formulario-txt h2 {
        font-size: 1.5rem;
    }
    .formulario-txt h3 {
        font-size: 1.3rem;
    }

}

@media screen and (max-width:700px) {

    /*navbar*/
    header img {
        width: 80px;
        height: 80px;
    }
    /*index*/
    /*carrousel testimonios adoptantes*/
    .testimonios-adoptantes {
        padding: 30px;
    }

    .testimonios-adoptantes h2 {
        font-size: 1.3rem;
    }
    
    .testimonios-adoptantes h3 {
        font-size: 1rem;
        margin-left: 60px;
        margin-right: 60px;
    }

    .testimonios-adoptantes p {
        font-size: 0.8rem;
    }

    /*conoce huellitas grid*/
    .conoce-huellitas-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "conoce-huellitas-txt"
        "conoce-huellitas-img";
    }

    .conoce-huellitas-img img{
        width: 100%;
        height: 340px;
    }

    .conoce-huellitas-txt {
        padding: 60px;
    }

    /*formas ayudar grid*/
    .formas-ayudar-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "formas-ayudar-txt"
        "formas-ayudar-img";
    }

    .formas-ayudar-img img{
        width: 100%;
        height: 340px;
    }

    .formas-ayudar-txt {
        padding: 40px;
    }

    /* Huellitas */

    .huellitas-adopcion-h1 {
        font-size: 1.6rem;
    }

    /*forma-parte*/

    .forma-parte-h1{
        font-size: 1.6rem;
    }

    .forma-parte-grid{
        grid-template-columns: 1fr;
    }

    .forma-parte-grid h2 {
        font-size: 1.3rem;
    }

    .forma-parte-grid h3 {
        font-size: 1.1rem;
    }

    .forma-parte-grid p {
        font-size: 0.9rem;
    }

    /*contacto*/
    .formulario-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "formulario-txt"
        "formulario";
    }

    .formulario-txt {
        height: auto;
    }


    /*footer*/
    footer h3 {
        font-size: 1.17rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:450px) {

    /*navbar*/
    header img {
        width: 50px;
        height: 50px;
    }
    
    /*carrousel testimonios adoptantes*/
    .testimonios-adoptantes {
        padding: 15px;
    }

    .testimonios-adoptantes h2 {
        font-size: 1rem;
    }
    
    .testimonios-adoptantes h3 {
        font-size: 0.8rem;
        margin-left: 40px;
        margin-right: 40px;
    }

    .testimonios-adoptantes p {
        font-size: 0.8rem;
    }

    /*conoce huellitas grid*/
    .conoce-huellitas-img img{
        width: 100%;
        height: 290px;
    }

    .conoce-huellitas-txt {
        padding: 40px;
    }

    .conoce-huellitas-txt p {
        font-size: 1rem;
    }

    /*formas ayudar grid*/
    .formas-ayudar-img img{
        width: 100%;
        height: 290px;
    }

    .formas-ayudar-txt {
        padding: 20px;
        background-color: #A4DFE0;
    }

    .formas-ayudar-txt p {
        font-size: 1rem;
    }

    /* Huellitas */

    .huellitas-adopcion-h1 {
        font-size: 1.3rem;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}